.btn{
    background:none;
    border: none;
    outline: none;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    padding: 12px 25px;
    background-color: #7761FF;
    border-radius: 5px;
    cursor: pointer;
}